<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户登录界面</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'mainpage/css/loginCss.css' %}">

</head>
<body class=" login" data-admin-utc-offset="0">

<!-- Container -->
<div id="container">

    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/admin">管理员登陆请点击</a></h1>
        </div>
    </div>
    <!-- END Header -->

    <!-- Content -->
    <div id="content" class="colM">

        <div id="content-main">
            <form method="post" id="login-form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-row">
                        <div class="required" id="id_username">{{ field.label_tag }}</div>
                    </div>
                    <div class="form-row">
                        <div class="required" id="id_password"> {{ field }}</div>
                    </div>

                {% endfor %}
                <div class="submit-row">
                    <label>&nbsp;</label><input type="submit" value="Log in" onClick="location.href='/cars'">
                </div>
            </form>
        </div>
        <br class="clear">
        <div id="errorShow" style="display: none">
            <span style="font-size: 18px;color: red">用户名错误或密码错误</span>
            <span>( 管理员登陆请点击上方 )</span>
        </div>

    </div>
    <!-- END Content -->

    <div id="footer"></div>
</div>
<!-- END Container -->

<script>
        error = {{ error | safe }};
            if (error===-1) {
                alert("用户名错误或密码错误");
            }
</script>
</body>
</html>






